.name{
font-size: 60px;
color: white;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
padding-top: 20px;
font-variant: small-caps;
padding-bottom: 15px;

}
.añadir{
text-decoration: none;
color: black;
text-decoration: solid;
font-size: 30px;
padding-bottom: 40px;
font-weight: bolder;}

.flechitadiv{
display:grid;
grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
grid-gap: 215px;
width: 28 px;
}
.letras{
color: black;}
.flechita{
color: aliceblue;
text-decoration: none;
}
.carddetail{
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 70%;
    background-color: rgba(75, 47, 18, 0.7); 
}
.carddetail:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */

}
.imagenbandera{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    margin: auto;
    height: 200px;
    z-index: 1;}

    .texto{
        background-color: rgba(183, 154, 123, 0.7); 
        border-radius: 20px;
        width: 500px;
    }