.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: rgba(75, 47, 18, 0.7); 
  
  }

  .card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  .nombre{
    z-index: 1;
    font-size: 30px;
    color: rgb(255, 221, 0);
    text-decoration: none; /* Sin subrayado */
  }
  
  #bandera{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 200px;
    z-index: 1;
    
}