.cartas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Define el número mínimo y máximo de columnas, ajustando automáticamente el tamaño */
    gap: 20px; /* Espacio entre las cartas */
  }
  
  /* Ajusta el número de columnas en diferentes tamaños de pantalla */
  @media screen and (max-width: 700px) {
    .cartas {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define el número mínimo y máximo de columnas para pantallas más pequeñas */
    }
  }
  
  .boton{
  
    color: black;
    
  }
  .paginaStyle{
  color: black;
  }
  .divboton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 50px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
   
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
   
    margin:auto;}
