#boton{  border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: antiquewhite;
    background-color: #211304;
    cursor: pointer;
    transition: border-color 0.25s;
}
#boton:hover {
  border-color: #646cff;
}
#boton:focus,
#boton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body{
background-image: url("https://i.pinimg.com/564x/a3/65/7d/a3657d990c81930cf8a5f915c6eda114.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  background-color: antiquewhite;
  }
.title{
  color: rgb(172, 9, 9);
  }