.Actcard{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Define el número mínimo y máximo de columnas, ajustando automáticamente el tamaño */
    gap: 20px; /* Espacio entre las cartas */
}
.carta{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    background-color: rgba(75, 47, 18, 0.7); 
    padding: 20px;
margin: auto;
}

.carta:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

}
.aviso {
    font-size: larger;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}
  .avisodiv{
    display: flex; /* Establece el contenedor como un flex container */
    flex-direction: row; /* Alinea los elementos en filas */
    justify-content: center; /* Centra horizontalmente los elementos a lo largo del eje principal (en este caso, el eje x) */
    align-items: center; 
    margin: auto, 500px;
background-color: rgba(255, 255, 255, 0.626);
}